.wrapper {
    padding: 5px 15px;
    text-align: left;
    background-color: #fff0e6;
    border-radius: 0 0 5px 5px;
    backdrop-filter: blur(10px);
    color: #443333;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrapper::after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #f7e7dd;
    z-index: -1;
    left: 0;
    border-radius: 0 0 5px 5px;
    animation: progressbar 10s linear infinite;
}

@keyframes progressbar {
    from { width: 0;}
    to {width: 100%;}
}

.wrapper--hidden {
    display: none;
}

.button {
    background-color: #F6CFCF;
    color: #A66F6F;
    border: none;
    border-radius: 30%;
    padding: 10px;
    cursor: pointer;
}